@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto+Slab&display=swap');

:root {
    --table-border-width: 0.75rem;
    --table-border-light: #432;
    --table-border-dark: #321;
    color-scheme: dark;
}

* {
    transition: all 0.5s;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #CBA;
    background-image: url("img/background.jpg");
    background-size: 100% 100%;
    background-position: top;
    background-repeat: repeat;
    height: 100vh;
}

header {
    height: 5rem;
    background-color: #100;
    text-align: center;
    color: #DCB;
    margin-bottom: 2rem;
    border-bottom: 1rem ridge var(--table-border-light);
    font-family: 'Almendra SC', serif;
    box-shadow: #000 0 1em 3rem;
}

header>h1::before, header>h1::after {
    content: url("./img/dragon.svg");
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    transform: scale(150%);
}

header>h1::after {
    transform: scale(150%) scaleX(-1);
}

main {
    flex: auto;
    text-align: center;
    padding: 2vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    max-width: 100%;
    position: relative;
    background-color: var(--table-border-color);
    border: calc(var(--table-border-width) / 2) solid var(--table-border-light);;
    border-bottom-color: var(--table-border-dark);
    border-right-color: var(--table-border-dark);
    font-size: 150%;
    box-shadow: #000 1rem 1rem 3rem;
    font-family: 'Roboto Slab', serif;
}

thead {
    font-weight: bold;
    font-family: 'Almendra SC', serif;
}

td, th {
    border: calc(var(--table-border-width) / 2) solid var(--table-border-dark);
    border-bottom-color: var(--table-border-light);
    border-right-color: var(--table-border-light);
    padding: 1rem;
    box-sizing: border-box;
    height: 4rem;
    position: relative;
    background-color: #100;
}

td {
    display: table-cell;
    max-width: 30%;
}

td > * {
    vertical-align: middle;
}

td>div.editable {
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    min-width: 1ch;
    min-height: 1rem;
    font-family: serif;
    font-size: 90%;
    justify-content: center;
    margin: 1ch;
}

tr.attitude-friendly > td {
    box-shadow: inset #08C 0 0 1.5rem 0;
    color: #0CE;
}

tr.attitude-hostile > td {
    box-shadow: inset #C00 0 0 1.5rem 0;
    color: #E88;
}

#dicebox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    pointer-events: none;
    z-index: 99999999;
}

#input-container {
    position: sticky;
    bottom: 3rem;
    margin-top: 3rem;
    z-index: 100;
    pointer-events: none;
}

#input-container input, #input-container button {
    pointer-events: all;
}

.btns-space-between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btns-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.current-turn {
    transform: scaleX(1.03) scaleY(1.1);
    box-shadow: #000 2rem 2rem 2rem;
    position: relative;
    z-index: 10;
}

caption {
    opacity: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.monster-link {
    content: url("img/book-skull.svg");
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    margin-right: 0;
    vertical-align: middle;
}

.creature-dead {
    filter: grayscale(100%) brightness(50%);
}

.initiative-round-counter {
    font-size: 200%;
    filter: drop-shadow(#000 0.4rem 0.4rem 0.6rem);
    display: inline;
}

.initiative-round-counter::before {
    content: "";
    padding: 1rem;
    margin: 1rem;
}

.dice-sim-checkbox-container {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    border-radius: 0.1rem;
    border:0.2em solid #321;
    border-bottom-color: #210;
    border-right-color: #210;
    color: #A98;
    background-color: #210;
    font-weight: bold;
    filter: drop-shadow(#000 0.2em 0.2em 0.3em);
    transition: all 0.1s;
    font-family: 'Roboto Slab', serif;
    outline: none;
    padding: 0.2rem;
    z-index: 1;
}
